* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 120px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
header nav {
  background-image: linear-gradient(to left, #bdc3c7, #2c3e50);
}
header nav img {
  width: 200px;
}

/* scss de index */
@media screen and (max-width: 992px) {
  .body-index {
    padding-top: 80px;
  }
}

.responsiveIndex {
  display: none;
}
@media screen and (max-width: 576px) {
  .responsiveIndex {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .carrusel {
    display: none;
  }
}

.smarthphone {
  width: 300px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 1s;
}
.smarthphone:hover {
  transform: scale(1.1);
}

/*scss de nosotros*/
@media screen and (max-width: 992px) {
  .body-nosotros {
    padding-top: 80px;
  }
}
@media screen and (max-width: 576px) {
  .body-nosotros {
    padding-top: 80px;
  }
}

.nosotros-flex, .tienda {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5rem;
}
.nosotros-flex-titulo {
  display: inline-block;
  padding: 15px 25px;
  background-color: #86818E;
  border-radius: 12%;
}
.nosotros-flex .equipo-grid-container, .tienda .equipo-grid-container, .tienda .productos {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .nosotros-flex .equipo-grid-container, .tienda .equipo-grid-container, .tienda .productos {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 576px) {
  .nosotros-flex .equipo-grid-container, .tienda .equipo-grid-container, .tienda .productos {
    grid-template-columns: auto;
  }
}

/* scss de servicios */
@media screen and (max-width: 992px) {
  .body-servicios {
    padding-top: 60px;
  }
}
@media screen and (max-width: 576px) {
  .body-servicios {
    padding-top: 60px;
  }
}

.servicioTecnico-hero {
  background: url("../../assets/placa-video.jpg") no-repeat center;
  background-size: cover;
  display: block;
  color: #fff;
  height: 50vh;
  text-align: center;
}
.servicioTecnico-hero h2 {
  padding: 100px 0;
  font-size: 3rem;
}
.servicioTecnico-hero h2 span {
  background-color: #EC1111;
}
.servicioTecnico .serviciosIconos {
  font-size: 2rem;
}
@media screen and (max-width: 992px) {
  .servicioTecnico .serviciosIconos {
    margin: 1.8rem 0;
  }
}
@media screen and (max-width: 576px) {
  .servicioTecnico .serviciosIconos {
    margin: 1.5rem 0;
  }
}

/* scss de tienda */
@media screen and (max-width: 992px) {
  .body-tienda {
    padding-top: 60px;
  }
}
@media screen and (max-width: 576px) {
  .body-tienda {
    padding-top: 60px;
  }
}

@media screen and (max-width: 576px) {
  .tienda-responsive img {
    display: none;
  }
}

.tienda .productos {
  grid-template-columns: auto auto auto auto;
}
@media screen and (max-width: 1024px) {
  .tienda .productos {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 576px) {
  .tienda .productos {
    grid-template-columns: auto;
  }
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
}
@media screen and (max-width: 576px) {
  .footer-flex {
    flex-direction: column;
    align-items: center;
  }
}
.footer-flex-nosotros, .footer-flex-redes, .footer-flex-productos {
  color: #fff;
  margin: 1rem 0;
}
.footer-flex-nosotros li, .footer-flex-redes li, .footer-flex-productos li {
  list-style: none;
  padding: 5px 0;
}
.footer-flex-nosotros a, .footer-flex-redes a, .footer-flex-productos a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
.footer-flex-redes {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-flex .iconos {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.footer-flex .iconos a {
  font-size: 2rem;
}
.footer-flex .iconos a i:hover {
  transform: scale(1.2, 1.2);
  color: #1BE9DA;
}

.footer-contacto {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .footer-contacto {
    position: relative;
    margin-top: 10px;
  }
}/*# sourceMappingURL=main.css.map */